extends layout

block content  
  h1= title
  p Welcome to #{title}
  a(href='/', title='CME Church Listing') Index Page
  p
  table.table.table-bordered
    tr
     th= fields[0].name
     th= fields[4].name
     th= fields[2].name
     th= fields[3].name
     th= 'E. District'
     th= 'GMapped?'
    - each item, i in results
      tr
       td= i+1
       td= item.google_address
       td= item.lat
       td= item.lng
       td= item.e_dist
       case item.gmap
        when 'n'
         td: i.icon-remove
        when 'y'
         td: i.icon-ok